@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using System.Security.Claims;

@if (ViewBag.Duties.Count == 0)
{
    <div class="container topdiv">
        <h2>There in no Duties click the button to add duty</h2>
        <a class="btn btn-primary btn-lg mt-3" asp-action="AddDuty" asp-controller="DutyAPI" asp-route-sprintId="@ViewBag.SprintId" asp-route-ProjectId="@ViewBag.ProjectId"> Add Duty</a>

    </div>
}
else
{
    <h2 class="topdiv ">Sprint duties</h2>
    <table class="table mt-4  table-bordered">
        <thead>
            <tr>

                <th>
                    Duty Name
                </th>
                <th>Duty Description</th>
                <th>
                    Duty Status
                </th>
                <th>Submtid Works</th>
                <th>Activities</th>

            </tr>

        </thead>
        <tbody>
            @foreach (var Duty in ViewBag.Duties)
            {
                <tr id="tablerow">


                    <td>@Duty.DutyName</td>
                    <td>@Duty.DutyDescription</td>

                    @foreach (var status in ViewBag.Statuses)
                    {
                        if (status.StatusId == Duty.StatusId)
                        {
                            <td>@status.StatusName</td>

                        }
                    }
                    <td><a class="btn btn-lg btn-primary" asp-route-DutyId="@Duty.DutyId" asp-action="TeamLeaderWorksView" asp-controller="Work"> Details </a></td>
                    <td>
                        <a class="btn btn-lg btn-danger " href="/Duty/DeleteDuty?DutyId=@Duty.DutyId"> Delete  </a>
                        <a class="btn btn-lg btn-primary" asp-action="EditDuty" asp-controller="Duty" asp-route-DutyId="@Duty.DutyId" asp-route-ProjectId="@ViewBag.ProjectId"> Edit  </a>

                    </td>


                </tr>


            }
        </tbody>




    </table>
    <a class="btn btn-primary btn-lg mt-3" asp-action="AddDuty" asp-controller="DutyAPI" asp-route-sprintId="@ViewBag.SprintId" asp-route-ProjectId="@ViewBag.ProjectId"> Add Duty</a>

    @if (ViewBag.IsDutyCompleted == false || ViewBag.Duties.Count == 0)
    {
        <button disabled class="btn btn-primary btn-lg mt-3 ml-2"> Finish </button>
    }
    else
    {
        <a class="btn btn-primary btn-lg mt-3 ml-2" asp-action="UpdateSprintStatus" asp-controller="Sprint" asp-route-SprintId="@ViewBag.SprintId"> Finish </a>

    }


}
