@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using  FinalProjectBusinessLayer.DTO;
@model DutyDTO


<div class="container topdiv">
    <h2 class=" mb-4 ">Add New Project</h2>
    @if (ViewBag.IsSuccess == true)
    {
        <div id="alertdiv" class="alert alert-success" role="alert">
            Duty Added Successfully  <a href="/DutyAPI/AllDuties?sprintId=@ViewBag.SprintId&ProjectId=@ViewBag.ProjectId" class="alert-link">click here</a>. to see Duties.
            <button typ="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    }

    <form action="/Duty/SubmitDuty" method="post">
        <input id="sprintid" type="text" value="@ViewBag.SprintId" hidden asp-for="SprintId" />
        <input id="projectid" type="text" value="@ViewBag.ProjectId" hidden name="ProjectId" />

        <div class="form-group">
            <label> Duty Name</label>
            <input id="dutyname" class="form-control" type="text" asp-for="DutyName">
            <span class="text-danger" asp-validation-for="DutyName"></span>
        </div>
        <div class="form-group">
            <label>Duty description </label>

            <input id="dutydescription" class="form-control" type="text" asp-for="DutyDescription" />

        </div>
        <div class="form-group">
            <label>Duty statuses</label>
            <select disabled class="form-control" asp-for="StatusId">
                @foreach (var status in ViewBag.Statuses)
                {
                    <option value="@status.StatusId"> @status.StatusName</option>
                }

            </select>

        </div>
        <div class="form-group">
            <label>Team members</label>
            <select id="member" class="form-control" asp-for="TeamMemberId">
                <option value=" ">Select Member</option>

                @foreach (var member in ViewBag.Members)


                {

                    @if (member.Id != ViewBag.TeamLeaderId)

                    {
                        <option value="@member.Id"> @member.FirstName  @member.LastName</option>
                    }


                }

            </select>
            <span class="text-danger" asp-validation-for="TeamMemberId"></span>

        </div>

        <button id="submitduty" class="btn btn-lg btn-primary" type="submit" > Add duty</button>
    </form>
</div>









